div {
  text-align: Left;
  overflow: hidden;
  border: 4px dotted Peru;
  width: 400px;
  background: Wheat;
  border-radius: 30px;
  padding: 10px;
}

body {
    color: DimGray;
}

hr {
    height: 5px;
    border: none;
    background-color: Peru;
    border-radius: 12px;
}

ul {
    list-style-type: square;
}

img {
  width: 375px;
  border: 2px dotted Peru;
  padding: 10px;
  background: NavajoWhite;
  border-radius: 12px;
}

li {
  font-family: Comic Sans MS
}

h3 {
  font-family: Comic Sans MS
}

h1 {
  color: Black;
  text-align: center;
  font-family: Comic Sans MS
}